.vscode/
_deps/
CMakeFiles/
CMakeScripts/
.vs/
CMakeLists.txt.user
CMakeCache.txt
Testing
Makefile
Debug/
Release/
*.user
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

